<div class="home-container">
  <div class="home-img">
    <div class="navbar">
      <h1 class="buildtxt">Buildit</h1>
      <div class="nav-components">
        <button class="btn" (click)="about()">About</button>
        <button class="btn" (click)="services()">Services</button>
        <button class="btn" (click)="projects()">Projects</button>
        <button class="btn" (click)="contact()">Contact</button>
      </div>
      <button class="need-btn" (click)="projects()">Need a Project?</button>
    </div>
    <div class="homeMain">
      <div class="image-container1">
        <p class="para1">Services</p>
        <h1 class="headtxt">Owner and investor with a reputation</h1>
        <p class="para2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elit
          sem, vestibulum sed leo eu, malesuada pharetra mauris. Integer
          rhoncus, eros vel euismod tempor, ipsum magna tristique nisi, quis
          ullamcorper enim magna eu orci. Sed semper ex quis semper aliquet.
          Cras hendrerit molestie sapien sed fermentum. Mauris dui tortor,
          viverra vel ultrices in, congue sed ex.
        </p>
      </div>
    </div>
  </div>

  <div class="team-container">
    <h1 class="headtxt">Our projects</h1>
    <div class="image-container">
      <div class="row">
        <div class="boxstyle">
          <img class="image" src="/assets/images/Projects/Photo.png" alt="" />
          <h1 class="nameStyle">Name Surname</h1>
          <p class="detailStyle">Worker</p>
        </div>
        <div class="boxstyle">
          <img class="image" src="/assets/images/Projects/Photo1.png" alt="" />
          <h1 class="nameStyle">Name Surname</h1>
          <p class="detailStyle">Worker</p>
        </div>
        <div class="boxstyle">
          <img class="image" src="/assets/images/Projects/Photo2.png" alt="" />
          <h1 class="nameStyle">Name Surname</h1>
          <p class="detailStyle">Worker</p>
        </div>
      </div>
      <div class="row">
        <div class="boxstyle">
          <img class="image" src="/assets/images/Projects/Photo3.png" alt="" />
          <h1 class="nameStyle">Name Surname</h1>
          <p class="detailStyle">Worker</p>
        </div>
        <div class="boxstyle">
          <img class="image" src="/assets/images/Projects/Photo4.png" alt="" />
          <h1 class="nameStyle">Name Surname</h1>
          <p class="detailStyle">Worker</p>
        </div>
        <div class="boxstyle">
          <img class="image" src="/assets/images/Projects/Photo5.png" alt="" />
          <h1 class="nameStyle">Name Surname</h1>
          <p class="detailStyle">Worker</p>
        </div>
      </div>
      <div class="row">
        <div class="boxstyle">
          <img class="image" src="/assets/images/Projects/Photo6.png" alt="" />
          <h1 class="nameStyle">Name Surname</h1>
          <p class="detailStyle">Worker</p>
        </div>
        <div class="boxstyle">
          <img class="image" src="/assets/images/Projects/Photo7.png" alt="" />
          <h1 class="nameStyle">Name Surname</h1>
          <p class="detailStyle">Worker</p>
        </div>
        <div class="boxstyle">
          <img class="image" src="/assets/images/Projects/Photo8.png" alt="" />
          <h1 class="nameStyle">Name Surname</h1>
          <p class="detailStyle">Worker</p>
        </div>
      </div>
      <div class="row">
        <div class="boxstyle">
          <img class="image" src="/assets/images/Projects/Photo9.png" alt="" />
          <h1 class="nameStyle">Name Surname</h1>
          <p class="detailStyle">Worker</p>
        </div>
        <div class="boxstyle">
          <img class="image" src="/assets/images/Projects/Photo10.png" alt="" />
          <h1 class="nameStyle">Name Surname</h1>
          <p class="detailStyle">Worker</p>
        </div>
        <div class="boxstyle">
          <img class="image" src="/assets/images/Projects/Photo11.png" alt="" />
          <h1 class="nameStyle">Name Surname</h1>
          <p class="detailStyle">Worker</p>
        </div>
      </div>
    </div>
    <hr />
    <div class="footstyle">
      <h1 class="callStyle">Call us</h1>
      <div class="btn-container">
        <button class="Services-btn">Call</button>
        <button class="about-btn">Email</button>
      </div>
    </div>
    <hr />
  </div>
</div>
