<!-- <div class="login-container">
  <div class="home-img">
    <div class="navbar">
      <h1 class="buildtxt">Buildit</h1>
      <div class="nav-components">
        <button class="btn" (click)="about()">About</button>
        <button class="btn" (click)="services()">Services</button>
        <button class="btn" (click)="projects()">Projects</button>
        <button class="btn" (click)="contact()">Contact</button>
      </div>
      <button class="need-btn" (click)="projects()">Need a Project?</button>
    </div>
    <div class="login-form">
      <h1 class="signin">Sign in with email</h1>
      <div class="form-group">
        <label for="uname" class="label-style">UserName</label>
        <br />
        <input type="text" name="uname" [(ngModel)]="username" />
      </div>
      <div class="form-group">
        <label for="pword" class="label-style">Password</label>
        <br />
        <input type="password" name="pword" [(ngModel)]="password" />
      </div>
      <div class="btn-container">
        <div class="error">{{ errorMsg }}</div>
        <button class="need-btn" (click)="login()">Login</button>
      </div>
    </div>
  </div>
</div> -->
