<div class="login-container">
  <div class="home-img">
    <div class="navbar">
      <h1 class="buildtxt">Buildit</h1>
      <div class="nav-components">
        <!-- <button class="btn" (click)="home()">Home</button> -->
        <button class="btn" (click)="about()">About</button>
        <button class="btn" (click)="services()">Services</button>
        <button class="btn" (click)="projects()">Projects</button>
        <button class="btn" (click)="contact()">Contact</button>
      </div>
      <button class="need-btn" (click)="projects()">Need a Project?</button>
    </div>
    <div class="contact">
      <p class="parastyle">Contact</p>
      <h1 class="headtxt">Get In Touch</h1>
      <div class="boxstyle">
        <img class="imageStyle" src="/assets/images/Contact/Icon2.png" alt="" />
        <div>
          <p class="txtStyle">Phone</p>
          <h5 class="txtStyle1">7854983264</h5>
        </div>
      </div>
      <div class="boxstyle">
        <img class="imageStyle" src="/assets/images/Contact/Icon3.png" alt="" />

        <div>
          <p class="txtStyle">Email</p>
          <h5 class="txtStyle1">salesbuildit.site</h5>
        </div>
      </div>
      <div class="boxstyle">
        <img class="imageStyle" src="/assets/images/Contact/Icon4.png" alt="" />
        <div>
          <p class="txtStyle">Office</p>
          <h5 class="txtStyle1">60 Manor Station St. Fairport, NY 14450</h5>
        </div>
      </div>
    </div>
    <div class="login-form">
      <div class="form-container">
        <div class="form-group">
          <label for="uname" class="label-style">Name</label>
          <br />
          <input type="text" name="uname" />
        </div>
        <div class="form-group">
          <label for="email" class="label-style">Email</label>
          <br />
          <input type="text" name="email" />
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="label-style">Subject</label>
        <br />
        <input type="text" name="text" />
      </div>
      <div class="message-group">
        <label for="email" class="label-style">Message</label>
        <br />
        <input type="text" name="text" />
      </div>
      <div class="btn-container">
        <button class="need-btn">Send message</button>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <div class="footer-style1">
      <h1>Buildit</h1>
      <p>Development company, 2022</p>
      <br /><br /><br />
      <p>Site design – ⏰ Alarm</p>
    </div>
    <div class="footer-style">
      <p>Service 1</p>
      <p>Service 2</p>
      <p>Service 3</p>
      <p>Service 4</p>
      <div class="footer-img">
        <img src="assets/images/HomeImg/Button.png" class="img" />
        <img src="assets/images/HomeImg/Button1.png" class="img" />
      </div>
    </div>
    <div class="footer-style">
      <p>About us</p>
      <p>Services</p>
      <p>Projects</p>
      <p>Contact</p>
    </div>
    <div class="footer-style">
      <p>Get in touch</p>
      <p>60 Manor Station St. Fairport, NY 14450</p>
      <p>708-790-0000</p>
      <p>salesbuildit.site</p>
    </div>
  </div>
</div>
