<div class="home-container">
  <div class="navbar">
    <h1 class="buildtxt">Buildit</h1>
    <div class="nav-components">
      <button class="btn" (click)="about()">About</button>
      <button class="btn" (click)="services()">Services</button>
      <button class="btn" (click)="projects()">Projects</button>
      <button class="btn" (click)="contact()">Contact</button>
    </div>
    <button class="need-btn" (click)="projects()">Need a Project?</button>
  </div>
  <div class="homeMain">
    <div class="home-content">
      <h1 class="headertxt">Development <br />company</h1>
      <p class="parastyle">
        Forward-thinking real estate developer, owner <br />
        and investor with a reputation
      </p>
      <div class="btn-container">
        <button class="Services-btn" (click)="services()">Services</button>
        <button class="about-btn" (click)="about()">About the company</button>
      </div>
    </div>
    <div class="home-img">
      <div>
        <img src="assets/images/HomeImg/Rectangle613.png" alt="" class="img1" />
        <img src="assets/images/HomeImg/Rectangle610.png" alt="" class="img2" />
        <img src="assets/images/HomeImg/Rectangle612.png" alt="" class="img3" />
      </div>
      <div>
        <img src="assets/images/HomeImg/Rectangle608.png" alt="" class="img4" />
        <img src="assets/images/HomeImg/Rectangle609.png" alt="" class="img5" />
      </div>
    </div>
  </div>
  <div class="inovation-container">
    <div class="homebg-container">
      <h1 class="htext">Innovative Execution</h1>
    </div>
    <div class="homebg-container">
      <div class="image-container">
        <img class="logoimg" src="/assets/images/HomeImg/Icon.png" />
        <h1 class="headtxt">Featured Listing</h1>
        <p class="parastyle">
          Lorem ipsum dolor sit amet, <br />
          consectetur adipiscing elit.
        </p>
      </div>
      <div class="image-container">
        <img class="logoimg" src="/assets/images/HomeImg/Icon1.png" />
        <h1 class="headtxt">Featured Listing</h1>
        <p class="parastyle">
          Lorem ipsum dolor sit amet, <br />consectetur adipiscing elit.
        </p>
      </div>
      <div class="image-container">
        <img class="logoimg" src="/assets/images/HomeImg/Icon2.png" />
        <h1 class="headtxt">Featured Listing</h1>
        <p class="parastyle">
          Lorem ipsum dolor sit amet,<br />
          consectetur adipiscing elit.
        </p>
      </div>
    </div>
  </div>
  <div class="about-container">
    <div class="image-container">
      <img class="imgStyle" src="/assets/images/HomeImg/AbtImg.png" alt="" />
    </div>
    <div class="image-container1">
      <p class="para1">About us</p>
      <h1 class="headtxt">Owner and investor with a reputation</h1>
      <p class="para2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elit sem,
        vestibulum sed leo eu, malesuada pharetra mauris. Integer rhoncus, eros
        vel euismod tempor, ipsum magna tristique nisi, quis ullamcorper enim
        magna eu orci. Sed semper ex quis semper aliquet. Cras hendrerit
        molestie sapien sed fermentum. Mauris dui tortor, viverra vel ultrices
        in, congue sed ex.
      </p>
      <button class="Explore-btn" (click)="projects()">Explore</button>
    </div>
  </div>
  <div class="available-container">
    <div class="image-container1">
      <p class="para1">Available Properties</p>
      <h1 class="headtxt">Featured Listing</h1>
      <p class="para2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elit sem,
        vestibulum sed leo eu, malesuada pharetra mauris. Integer rhoncus, eros
        vel euismod tempor, ipsum magna tristique nisi, quis ullamcorper enim
        magna eu orci. Sed semper ex quis semper aliquet. Cras hendrerit
        molestie sapien sed fermentum. Mauris dui tortor, viverra vel ultrices
        in, congue sed ex.
      </p>
      <button class="Explore-btn" (click)="projects()" (click)="projects()">
        Explore
      </button>
    </div>
    <div class="image-container">
      <div>
        <img src="assets/images/HomeImg/Photo.png" alt="" class="img1" />
        <img src="assets/images/HomeImg/Photo1.png" alt="" class="img2" />
      </div>
      <div>
        <img src="assets/images/HomeImg/Photo2.png" alt="" class="img4" />
        <img src="assets/images/HomeImg/Photo3.png" alt="" class="img5" />
      </div>
    </div>
  </div>
  <div class="social-container">
    <p class="parastyle">Socials</p>
    <h1 class="headtxt">On Instagram</h1>
    <div class="home-img">
      <div>
        <div>
          <img src="assets/images/HomeImg/Card.png" alt="" class="img" />
        </div>
        <div>
          <img src="assets/images/HomeImg/Card1.png" alt="" class="img" />
        </div>
        <div>
          <img src="assets/images/HomeImg/Card2.png" alt="" class="img" />
        </div>
      </div>
      <div class="divstyle">
        <div>
          <img src="assets/images/HomeImg/Card3.png" alt="" class="img1" />
        </div>
        <div>
          <img src="assets/images/HomeImg/Card4.png" alt="" class="img1" />
        </div>
        <div>
          <img src="assets/images/HomeImg/Card5.png" alt="" class="img1" />
        </div>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <div class="footer-style1">
      <h1>Buildit</h1>
      <p>Development company, 2022</p>
      <br /><br /><br />
      <p>Site design – ⏰ Alarm</p>
    </div>
    <div class="footer-style">
      <p>Service 1</p>
      <p>Service 2</p>
      <p>Service 3</p>
      <p>Service 4</p>
      <div class="footer-img">
        <img src="assets/images/HomeImg/Button.png" class="img" />
        <img src="assets/images/HomeImg/Button1.png" class="img" />
      </div>
    </div>
    <div class="footer-style">
      <p>About us</p>
      <p>Services</p>
      <p>Projects</p>
      <p>Contact</p>
    </div>
    <div class="footer-style">
      <p>Get in touch</p>
      <p>60 Manor Station St. Fairport, NY 14450</p>
      <p>708-790-0000</p>
      <p>salesbuildit.site</p>
    </div>
  </div>
</div>
